.navbar {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #fff;
}

.landing{
  background-image: url("./img/showcase.jpg");
  position: relative;
  min-height: 91.1vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner{
    height: 100%;
    color: #fff;
    display: flex;
    min-height: 91.1vh; 
    text-align: center;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.spinner-box{
  padding-top:100px;
}

.landing-inner h1{
  color:#fff;
  font-size: 56px;
  font-weight: 900;
}
.ques-check{
  font-size:22px;
}
.mounseHand{
  cursor: pointer;
}
.complete-box{
    color: #1a1a1a;
    font-weight: bold;
    font-size: 16px;
}
.font17{
  font-size: 17px !important;
}
.ques-check.active{
  color:#008000;
}
.landing-inner p{
  font-size: 20px;
}

.login-form{
    width: 400px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 10px;
}

.login-form h4{
  text-align: center;
  margin:10px 0;
}

.language-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.question-list-sidebar .header-box{
  display: flex;
  justify-content: space-between;
  padding:16px;
  height: 60px;
  font-size: 20px;
  background-color: #f1f1f1;
}

.form-control {
  color: #55595c;
  background-color: #f7f7f9;
  border-color: #5a5a5a;
  outline: 0;
}

.quiz-search-box{
  box-shadow: 0 0 0 0.1rem rgb(26 26 26 / 25%);
}

.quiz-search-box input:focus{
  box-shadow: none;
}

.quiz-search-box .input-group-prepend{
  cursor: pointer;
}


pre{
  white-space: pre-wrap !important;
}

pre code {
  font-size: 16px;
  white-space: pre-line !important;
}

button:disabled{
  cursor: not-allowed;
}

strong{
  font-weight: bold;
}


.question-list-sidebar .exercise-count{
  background-color: #888888;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-list-sidebar .exercise-count h5{
  color:#ffffff !important;
  margin:0;
}
.exercise-list{
  background-color: #555555;
  height: 73vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.exercise-list ul{
  list-style-type: none;
  margin: 0;
  padding: 0 0 60px;
  color:#ffffff;
}

.exercise-list ul li{
  font-size: 16px;
  color:#ffffff;
  cursor: pointer;
  border-bottom: 1px solid #4f4f4f;
}

.exercise-list ul li a{
  text-decoration: none;
  color:#ffffff;
  display: block;
  padding: 10px 16px;
}

.exercise-list ul li:hover{
  background-color:#ffffff;
  color:#555555;
}

.exercise-list ul li:hover a{
  color:#555555;
}

.exercise-list ul li.active{
  background-color:#ffffff;
  color:#555555;
}

.exercise-list ul li.active a{
  color:#555555;
}

.answer-box{
  padding:50px 20px 20px;
}
.answer-box h4{
  text-transform: none;
  margin-bottom: 30px;
}

.category-dropdown .dropdown-toggle{
  width:100%;
  text-align: left;
}

.category-dropdown .category-dropdown-item{
  width:100%;
  font-size: 14px;
}

.category-dropdown .dropdown-toggle::after{
  position:absolute;
  font-size: 18px;
  right:23px;
  top:20px;
}

.delete-qus-button:hover{
  color:red;
  cursor: pointer;
}

.sidebar-mobile{
  display: block;
}

@media (max-width:576px){
  .login-form{
    width:320px;
  }
  .sidebar-mobile{
    display: none;
    position:absolute;
    z-index: 1;
    padding-right: 0;
  }
  .answer-box{
    padding-top: 5px;
  }
  .top-button{
    display: block !important;
  }
}